---
import Header from "../components/Header.astro";
import FloatingMenu from "../components/FloatingMenu.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
import { Image } from "astro:assets";
import headshot from "../images/headshot.jpg";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="text-center bg-themeGray-100 pb-3">
    <Image
      src={headshot}
      alt="Photo of Garrett Pierce"
      class="px-3 pb-3 rounded-full"
    />
    <h2 class="text-2xl font-extrabold text-themeGray-700 pb-3">
      Who is Garrett Pierce? 
    </h2>
    <p class="pb-3 font-normal text-lg text-themeGray-700">
      I'm a developer, musician, mountain biker, runner, and photographer.
    </p>
    <p class="pb-3 font-normal text-lg text-themeGray-700">
      I'm a Virginia boy at heart, but currently living in Maryland.
    </p>
    <h2 class="text-2xl font-extrabold text-themeGray-700 pb-3">Work</h2>
    <p class="pb-3 font-normal text-lg text-themeGray-700">
      My day job work primarily consists of development on Microsoft's Power
      Platform. This includes Power Automate, plugin development, portals,
      JavaScript, and PCF development.
    </p>
    <p class="pb-3 font-normal text-lg text-themeGray-700">
      On the side, I do a little bit of web consulting. This includes custom
      site builds and Squarespace development. I have worked alongside graphic
      designers to develop brand identities and corresponding websites.
    </p>
    <h2 class="text-2xl font-extrabold text-themeGray-700 pb-3">Life</h2>
    <p class="pb-3 font-normal text-lg text-themeGray-700">
      I'm an avid runner, an occasional mountain biker, and a recording
      musician. As of this writing, I am currently self-producing a record, due
      out in early 2025. A page for my music will be added to this site when the
      time comes.
    </p>
  </div>
  <div class="text-center bg-themeGray-100 pb-3">
    <p class="pb-3 font-normal text-lg text-themeGray-700">
      A special thanks to <a href="https://thegreeneworks.com" target="_blank">@thegreeneworks</a> for the branding.
    </p>
  </div>
  
</BaseLayout>
