---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");
const pageTitle = "Writing";
---

<BaseLayout pageTitle={pageTitle}>
  <p class="pb-3font-normal text-lg text-themeGray-700">
    Welcome to a collection of my unsolicited thoughts!
  </p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
        <a href={`/posts/${post.slug}/`}>{post.data.title} ({post.data.pubDate.toString().slice(0, 10)})</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
