---
import BaseLayout from "../layouts/BaseLayout.astro";
import { loadQuery } from "../sanity/lib/load-query";
import type { SanityDocument } from "@sanity/client";
//const allPosts = await getCollection("posts");
const pageTitle = "Writing";

const { data: allPosts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "post"]`,
  });
allPosts.sort((a, b) => new Date(a.publishedAt) - new Date(b.publishedAt));
---

<BaseLayout pageTitle={pageTitle}>
  <p class="pb-3 font-normal text-lg text-themeGray-800">
    Welcome to a collection of my unsolicited thoughts!
  </p>
  <ul>
    {
      allPosts.map((post) => (
        <li class="pb-8">
          <a class="text-themeGray-800 text-xl" href={`/post/${post.slug.current}/`}>{post.title} ({new Date(post.publishedAt).toDateString()})</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
