---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Now";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="text-center">
    <p class="mb-5 font-semibold text-lg text-themeGray-800 text-center">
      I don't remember where I first saw it, but someone out there on the
      internet had a page for what they're currently working on, called the Now
      page. Last updated 2/27/2025.
    </p>
    <p class="pb-3 font-normal text-lg text-themeGray-800">
      My day job is that of a Power Platform Developer. That entails low-code
      configuration, and pro-code work in JavaScript, TypeScript, and C#.
    </p>

    <p class="pb-3 font-normal text-lg text-themeGray-800">
      In my free time, I'm working on a fitness app built on the principles of
      being deliberately non-social, progress-minded, thought-provoking, and
      detail-oriented.
    </p>

    <p class="pb-3 font-normal text-lg text-themeGray-800">
      I've started learning PHP and Laravel, and will be diving into Vue soon as well, with the aim of building the aforementioned full stack app.
    </p>
  </div>
</BaseLayout>
