---
import Header from "../components/Header.astro";
import FloatingMenu from "../components/FloatingMenu.astro";
import { Image } from "astro:assets";
import Footer from "../components/Footer.astro";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Color Palette</title>
  </head>
  <body class="bg-themeGray-100">
    <Header />
    <div class="container">
        <div class="bg-themeBlack text-white py-4 px-4 rounded">
            Black: #3b5369
        </div>
        <div class="bg-themeGray-100 py-4 px-4 rounded text-themeBlack">
            Gray100: #eef1f2
        </div>
        <div class="bg-themeGray-300 py-4 px-4 rounded text-themeBlack">
            Gray300: #c4c9cd
        </div>
        <div class="bg-themeGray-500 py-4 px-4 rounded text-themeBlack">
            Gray500: #9eadae
        </div>
        <div class="bg-themeGray-700 py-4 px-4 rounded text-themeBlack">
            Gray700: #899697
        </div>
        <div class="bg-themeBlue py-4 px-4 rounded text-themeBlack">
            Blue: #3ba1df
        </div>
        <div class="bg-themeTeal py-4 px-4 rounded text-themeBlack">
            Teal: #1cc3a5
        </div>
        <div class="bg-themeGreen py-4 px-4 rounded text-themeBlack">
            Green: #34d17c
        </div>
        <div class="bg-themeRed py-4 px-4 rounded text-themeBlack">
            Red: #e95644
        </div>
        <div class="bg-themeYellow py-4 px-4 rounded text-themeBlack">
            Yellow: #f2ca0d
        </div>
        <div class="py-4 px-4 rounded text-themeBlack">
            <a href="https://flatuicolors.com/palette/defo">Color Reference (link)</a>
        </div>
    </div>
    <FloatingMenu />
  <Footer />
  </body>
  </html>