---
import { Image } from "astro:assets";
import { siteTitleConfig } from "../../config.astro";
const siteTitle = siteTitleConfig;
const id = "siteHeader";
import logoForHeader from "../images/landscape-placeholder.svg";
import NavMenu from "./NavMenu.astro";
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<style></style>
<body>
  <div class="navbar bg-themeTeal">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path>
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-themeTeal rounded-box z-[1] mt-3 w-52 p-2 shadow"
        >
          <NavMenu />
        </ul>
      </div>
      
      <span
        class="text-2xl align-middle p-2 font-semibold whitespace-nowrap dark:text-white"
        >Garrett Pierce</span
      >

    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <NavMenu />
      </ul>
    </div>
    <div class="navbar-end">
      <Image src={logoForHeader} class="h-12 max-w-12" alt="Logo" />
    </div>
  </div>
  <!--nav- class="bg-themeTeal">
    <div
      class=""
    >
      <a href="/" class="inline-flex p-2">
        <Image src={logoForHeader} class="h-12 max-w-12" alt="Logo" />
        <span
          class="text-2xl align-middle p-2 font-semibold whitespace-nowrap dark:text-white"
          >Garrett Pierce</span
        >
      </a>
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex p-2 w-10 h-10 text-sm rounded-lg md:hidden"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4">
          <li class="inline-flex">
            <a href="/" class="block py-2 px-3 text-themeGray-100">Home</a>
          </li>
          <li class="inline-flex">
            <a href="/uses" class="block py-2 px-3 text-themeGray-100">Uses</a>
          </li>
        </ul>
      </div>
      
    </div>
  </!--nav->
</body>
--></body
>
