<div class="prose p-4 text-themeGray-800 prose-h1:text-themeBlack prose-h2:text-themeBlack prose-h3:text-themeBlack prose-h4:text-themeBlack prose-h5:text-themeBlack prose-h6:text-themeBlack prose-p:text-themeGray-800 prose-a:text-themeTeal hover:prose-a:text-themeBlue">
    <slot />
</div>