---
const { itemDescription, itemName, id } = Astro.props;
import Accordion from "./Accordion.astro";
---
<div>
    <Accordion accordionHeading={itemName} accordionText={itemDescription} accordionId={id}/>
</div>

