---
import Header from "../components/Header.astro";
import FloatingMenu from "../components/FloatingMenu.astro";
import Footer from "../components/Footer.astro";
const { pageTitle } = Astro.props;
import { VisualEditing } from "@sanity/astro/visual-editing";

const visualEditingEnabled =
  import.meta.env.PUBLIC_SANITY_VISUAL_EDITING_ENABLED == "true";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-themeGray-100">
    <Header />
    <div class="flex justify-center items-center pt-4 flex-col">
      <div class="lg:max-w-4xl px-3">
        <div class="text-center  bg-themeGray-100 pb-3">
          <h1
            class="pb-3 text-5xl font-extrabold text-themeBlack text-center py-3"
          >
            {pageTitle}
          </h1>
        </div>
        <slot />
        <VisualEditing enabled={visualEditingEnabled} />
      </div>
    </div>
    <FloatingMenu />
    <Footer />
  </body>
</html>
